{{define "content"}}
	<h3>Block: {{ .BlockData.Data.number }}</h3>
	<table class="table table-bordered">
		{{ range $key, $value := .BlockData.Data }}
			<tr>
				<td>{{ $key }}</td>
				<td>
					{{if eq $key "parentHash"}}
						<a href="block?blockHash={{ $value }}">{{ $value }}</a>
					{{else if eq $key "logsBloom"}}
						{{  printf "%.60s" $value }}...
					{{else}}
						{{ $value }}
					{{end}}
				</td>
			</tr>
		{{ end }}
	</table>

	<h3>Transactions</h3>
	<table class="table table-bordered">
		<tr>
			<th>Hash</th>
			<th>From</th>
			<th>To</th>
			<th>Value</th>
		</tr>
		{{ range $key, $value := .BlockData.Transactions }}
			<tr>
				<td><a href="tx?tx={{ $key }}">{{ printf "%.20s" $key }}...</a></td>
				<td>{{ printf "%.20s" $value.Data.from }}...</td>
				<td>{{  printf "%.20s" $value.Data.to }}...</td>
				<td>{{ $value.Data.value }}</td>
			</tr>
		{{ end }}
	</table>
{{ end }}
