{{define "content"}}
	<h3>Block: {{ .BlockData.Number }}</h3>
	<div>{{ .BlockData.Timestamp.Format "Jan 02, 2006 15:04:05 UTC" }}</div>
	<table class="table table-bordered">
		{{ range $key, $value := .BlockData.Data }}
			<tr>
				<td>{{ $key }}</td>
				<td>
					{{if eq $key "Parent Hash"}}
						<a href="block?blockHash={{ $value }}">{{ $value }}</a>
					{{else if eq $key "Logs Bloom"}}
						{{  printf "%.64s" $value }}...
					{{else}}
						{{ $value }}
					{{end}}
				</td>
			</tr>
		{{ end }}
	</table>

	<h3>Transactions</h3>
	<table class="table table-bordered">
		<tr>
			<th>Hash</th>
			<th>From</th>
			<th>To</th>
			<th>Value</th>
		</tr>
		{{ range $key, $value := .BlockData.Transactions }}
			<tr>
				<td><a href="tx?tx={{ $key }}">{{ printf "%.20s" $key }}...</a></td>
				<td><a href="account?acc={{ $value.Data.from }}">{{ printf "%.20s" $value.Data.from }}...</a></td>
				<td><a href="account?acc={{ $value.Data.to }}">{{ printf "%.20s" $value.Data.to }}...</a></td>
				<td>
					<span style="
					{{ if eq 0.0 $value.Value }}
						color:#999;
					{{end}}
					">
					{{ printf "%.6f" $value.Value }}
					</span>
				</td>
			</tr>
		{{ end }}
	</table>
{{ end }}
