{{define "content"}}
	<h3>Block: {{.BlockData.number}}</h3>
	<table>
		{{ range $key := .DataKeys }}
			<tr>
				<td>{{ $key }}</td>
				<td>
					{{if eq $key "parentHash"}}
						<a href="block?blockHash={{ index $.BlockData $key }}">{{ index $.BlockData $key }}</a>
					{{else}}
						{{ index $.BlockData $key }}
					{{end}}
				</td>
			</tr>
		{{ end }}
	</table>

	<h3>Transactions</h3>
	<table>
	    <tr><th>Hash</th><th>From</th><th>To</th><th>Value</th></tr>
		{{ range $key, $value := .BlockData.transactions }}
		   <tr><td><a href="tx?tx={{ $value.hash }}">{{ printf "%.10s" $value.hash }}...</a></td><td>{{ printf "%.10s" $value.from }}...</td><td>{{ printf "%.10s" $value.to }}...</td><td>{{ printf "%s" $value.value }}</td></tr>
		{{ end }}
	</table>
{{ end }}
